
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutIN.cshtml";
}

<script>
    $(document).ready(function () {
        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        var data1 = [
            { label: "Data 1", data: d1, color: '#17a084' },
            { label: "Data 2", data: d2, color: '#127e68' }
        ];
        $.plot($("#flot-enterprise"), data1, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    }
                },
                points: {
                    width: 0.1,
                    show: false
                }
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false
            }
        });

        var data2 = [
              { label: "Data 1", data: d1, color: '#19a0a1' }
        ];
        $.plot($("#flot-lawyer"), data2, {
            xaxis: {
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: true,
                    fillColor: {
                        colors: [{
                            opacity: 1
                        }, {
                            opacity: 1
                        }]
                    }
                },
                points: {
                    width: 0.1,
                    show: false
                }
            },
            grid: {
                show: false,
                borderWidth: 0
            },
            legend: {
                show: false
            }
        });

    });
</script>

<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-briefcase fa-5x"></i>
                    </div>
                    <div class="col-md-8 text-right">
                        <h1 class="m-xs">企业管理</h1>
                        <h3 class="font-bold no-margins">企业信息进行管理</h3>
                        <a href="/Enterprise/Index" class="btn btn-rounded btn-primary"><i class="fa fa-table"></i>&nbsp;查看</a>
                    </div>
                </div>
            </div>
            <div class="flot-chart">
               <div class="flot-chart-content" id="flot-enterprise"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <div class="row">
                    <div class="col-md-4">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-md-8 text-right">
                        <h1 class="m-xs">自然人管理</h1>
                        <h3 class="font-bold no-margins">自然人信息进行管理</h3>
                    <a href="/Lawyer/Index" class="btn btn-rounded btn-info"><i class="fa fa-table"></i>&nbsp;查看</a>
                    </div>
                </div>
               
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-lawyer"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @{ 
            Html.RenderAction("Widget", "LandRecord");
        }
    </div>
    <div class="col-lg-4">
        @{
            Html.RenderAction("RedWidget", "Roll");
        }
    </div>
    <div class="col-lg-4">
        @{ 
            Html.RenderAction("BlackWidget", "Roll");
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        @{ 
            Html.RenderAction("Widget", "Land");
        }
    </div>
    <div class="col-lg-6">
        @{ 
            Html.RenderAction("Widget", "Conduct");
        }
    </div>
</div>

