
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .Enterprise {
        background: url(../../Images/Enterprise.png) no-repeat center;
        background-size: 100%;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .Lawyer {
        background: url(../../Images/Lawyer.png) no-repeat center;
        background-size: 100%;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
</style>



<div class="row">
    <div class="col-lg-6">
        @{
            Html.RenderAction("Widget", "Enterprise");
        }
    </div>
    <div class="col-lg-6">
        @{
            Html.RenderAction("Widget", "Lawyer");
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @{
            Html.RenderAction("Widget", "LandRecord");
        }
    </div>
    <div class="col-lg-4">
        @{
            Html.RenderAction("RedWidget", "Roll");
        }
    </div>
    <div class="col-lg-4">
        @{
            Html.RenderAction("BlackWidget", "Roll");
        }
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        @{
            Html.RenderAction("Widget", "Land");
        }
    </div>
    <div class="col-lg-6">
        @{
            Html.RenderAction("Widget", "Conduct");
        }
    </div>
</div>

