@{ 
    Layout = null;
}

<script src="~/Scripts/2/Chart.js"></script>
<script src="~/Scripts/2/TodoChart.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">&nbsp;信用等级比例图</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h5>&nbsp;企业信用等级比例统计图表</h5>
            @{ 
                var list = ViewBag.Enterprises as List<EnterpriseScore>;
                var dict = list.GroupBy(e => e.Degree).OrderBy(e=>e.Key).ToDictionary(e => e.Key.GetDescription(), e => e.Count());
                Html.RenderPartial("StatisticEn",dict as object);
            }
            <p class="text-right">截至统计时间：<u>@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))</u></p>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <h5>&nbsp;自然人信用等级比例统计图表</h5>
            @{ 
                var list2 = ViewBag.Lawyers as List<LawyerScore>;
                var dict2 = list2.GroupBy(e => e.Degree).OrderBy(e=>e.Key).ToDictionary(e => e.Key.GetDescription(), e => e.Count());
                Html.RenderPartial("StatisticLa",dict2 as object);
            }
            <p class="text-right">截至统计时间：<u>@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))</u></p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i>&nbsp;确定</button>
</div>
