@{ 
    Layout = null;
    List<ConductStandard> list = ViewBag.List;
    ConductStandardParameter parameter = ViewBag.Parameter;
}

<div class="widget-head-color-box navy-bg text-center p-lg">
    <div class="m-b-md">
        <a href="/Conduct/Index" class="btn btn-primary"><h2 class="font-bold no-margins">诚信行为</h2></a>
        <p><small>诚信行为信息记录</small></p>
       
    </div>
    <i class="fa fa-credit-card fa-5x"></i>
    <div>
        <span>诚信行为数量：@(parameter.Page.RecordCount)</span>|
        <span><a href="/Conduct/Index" class="btn btn-primary font-bold">详情</a></span>
    </div>
</div>
<div class="ibox collapsed">
    <div class="ibox-title">
        <h5>诚信行为列表</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content" style="display:none">
        <ul class="list-group">
            @foreach (var item in list)
            {
                <li class="list-group-item"><a href="@(item.SystemData==SystemData.Enterprise?"/Enterprise/Detail?id="+item.ELID:"/Lawyer/Detail?id="+item.ELID)" class="text-muted">@(item.ELName)</a>-@(item.StandardName)</li>
            }
        </ul>
    </div>
</div>