
@{
    ViewBag.Title = "黑名单";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string key = ViewBag.Key;
}


<div class="page-header">
    <h2>&nbsp;黑名单管理 </h2>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-inline" style="float:right" action="/Roll/Black">
            <div class="form-group">
                <label>&nbsp; 关键字：</label>
                <input type="text" name="Key" class="form-control" placeholder="名单关键字" value="@key" />
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>立即查询</button>
            <a href="/Roll/Download?brenum=@(BREnum.Black)" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt"></i>下载表格</a>
            @*<a href="/Roll/DownloadWord" class="btn btn-primary"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;下载公告文件</a>*@
        </form>
        <br />
        <br />
        @{ 
            Html.RenderAction("List", new { bREnum = BREnum.Black, key = key });
        }
    </div>
</div>