@{ 
    Layout = null;
    List<RollList> list = ViewBag.List;
    int serial = 1;
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>序号</th>
            <th>名称</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list)
        {
            <tr>
                <td>@(serial++)</td>
                <td>
                    <a href="@(item.SystemData==SystemData.Enterprise?"/Enterprise/Detail?id="+item.DataId:"/Lawyer/Detail?id="+item.DataId)">
                        @(item.Name)
                    </a> 
                
                </td>
            </tr>
        }
    </tbody>
</table>
